.card {
    height: 250px;
    @include card-border(15px);
}

.row__card {
    background: getColours(secondary);

    &--borderpink {
        border: solid 3px #C32C72;
        background: white;
    }

    &--pink {
        background: #C32C72;
        border: solid 3px white;
    }
}